extends layout

block content
  .content
    .pageTitle
      h1.pageTitle__header Online La Manche swim by Alexei Seredkin
    .loclockPageTitle
      h1.pageTitle__header Powered by LoClock
      .pageTitle__subtitle World's first geo clock

    .stats
      h2.stats__title Swim data
    .clock__container
      .clock
        canvas.path(width="740" height="740")
        .c1
          .p1.pointer

  .instaStripe
    .instaStripe__title
      a(href="https://www.instagram.com/la_manche_2016/")= "@la_manche_2016 "
      span Instagram stream