doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Open+Sans:400,800&subset=cyrillic", rel="stylesheet")
    script(src='/javascripts/app.js')
  body
    block content
