* {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  overflow: visible;
}

h1, h2, h3, h4 {
  font-weight: 800;
}

.content {
  flex: 4;
  padding-top: 50px;
  min-height: 100%;
}
.instaStripe {
  flex: 1;
  padding-top: 50px;
  min-height: 100%;
  background-color: #212121;
  color: #fff;
  text-align: center;
}
.instaStripe a {
  color: aqua;
  text-decoration: none;
}

.pageTitle {
  width: 100%;
  margin: 0 auto 20px;
  text-align: center;
  text-transform: uppercase;
}
.pageTitle__header {
  margin-top: 0;
}

.loclockPageTitle {
  width: 100%;
  margin-bottom: 60px;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
}
.loclockPageTitle h1 {
  margin-bottom: 0;
  font-family: 'Open Sans Condensed', sans-serif;
}

.stats {
  float: left;
  margin-top: 80px;
  width: 20%;
  min-height: 400px;
  border-top: 2px solid #212121;
  border-right: 2px solid #212121;
  border-bottom: 2px solid #212121;
}
.stats__title {
  text-align: center;
  text-transform: uppercase;
}

.clock__container {
  float: left;
  width: 80%;
  padding-left: 50px;
}
.clock {
  position: relative;
  width: 800px;
  height: 800px;
  box-shadow: 0 0 150px rgba(0,0,0,.3);
  border-radius: 400px;
}

.c1 {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 740px;
  height: 740px;
  border-radius: 50%;
  box-shadow: inset 0 0 15px rgba(0,0,0,.4);
  transition: all .3s ease-in-out;
}

.pointer {
  position: absolute;
  top: 50px;
  left: 340px;
  width: 60px;
  height: 60px;
  background-color: darkturquoise;
  border-radius: 50%;
  box-shadow: 0 0 2px rgba(0,0,0,.5);
  transition: all .2s ease-in-out;
}

.path {
  position: absolute;
  top: 30px;
  right: 30px;
}

.p1 {
  top: 340px;
  left: 656px;
  background-image: url('../images/leha.png');
  background-size: cover;
}